doom_scenario_path = rocket_basic.wad
doom_map = map32

doom_skill = 2

# Rewards
living_reward = -1

# Rendering options
screen_resolution = RES_160X120
screen_format = RGB24
render_hud = false
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false

# make episodes start after 14 tics (after unholstering the gun)
episode_start_time = 14

# make episodes finish after 300 actions (tics)
episode_timeout = 300

# Available buttons
available_buttons = 
    { 
        MOVE_FORWARD
        MOVE_BACKWARD
        TURN_LEFT
        TURN_RIGHT
        ATTACK
    }

# Game variables that will be in the state
available_game_variables = { AMMO2 HEALTH KILLCOUNT }
mode = PLAYER

game_args += +sv_noautoaim 1
